<!DOCTYPE html>
<html data-ng-app="reportViewer">
<head>
    <meta charset="UTF-8">
    <title>Report Viewer</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/reset.css" />
    <script src="Scripts/jquery-2.1.3.min.js"></script>
    <script src="Scripts/jquery-ui-1.11.3.min.js"></script>
    <script data-require="angular.js@*" data-semver="1.3.0-beta.5"
            src="https://code.angularjs.org/1.3.0-beta.5/angular.js"></script>
    <script src="js/prefixfree.min.js"></script>
    <script src="js/script.js"></script>

</head>
<body data-ng-controller="MainController">
    <div id="login">
        <form class="login_form" data-ng-submit="login(user)" data-ng-hide="years">
            <div class="field_container">
                <input type="text" placeholder="Email Address" data-ng-model="user.email">
            </div>
            <div class="field_container">
                <input type="Password" placeholder="Password" data-ng-model="user.password">
                <button id="sign_in_button">
                    <span class="button_text">Sign In</span>
                </button>
            </div>
            <div id="sign_in_options" class="field_container">
                <div id="sign_in_alternatives_container">
                    <span id="google_sign_in_option"><a href="#" id="forgot_password_link" class="login_link">Forgot your password?</a></span>
                </div>
            </div>
        </form>
            <form class="login_form" data-ng-submit="getReport(report)" data-ng-show="years">
                <div class="field_container">
                    <div class="grayBig">Search Report</div><br/>
                    <div class="grayLabel">Year</div>
                    <select class="button_text" style="color:#2b2828;" data-ng-model="report.year">
                        <option data-ng-repeat="year in years" value="{{year.Id}}">{{year.value}}</option>
                    </select>
                </div>
                <div class="field_container">
                    <div class="grayLabel">Month</div>
                    <select class="button_text" style="color:#2b2828;" data-ng-model="report.month">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    <button id="sign_in_button">
                        <span class="button_text">Get Report</span>
                    </button>
                </div>
            </form><br>
        <div data-ng-show="result" class="login_form" style="vertical-align:top;">
        <table cellspacing='0'>
            <tr class="even">
                <th>Status</th>
                <th></th>
            </tr>
            <tr data-ng-repeat="item in status">
                <td>{{item.value}}</td>
                <td>{{item.count}}</td>
            </tr>
        </table>
        <table cellspacing='0'>
            <tr>
                <th>Gender</th>
                <th></th>
            </tr>
            <tr data-ng-repeat="item in genders">
                <td>{{item.value}}</td>
                <td>{{item.count}}</td>
            </tr>
        </table>
        <table cellspacing='0'>
            <tr class="even">
                <th>Programs</th>
                <th></th>
            </tr>
            <tr data-ng-repeat="item in programs">
                <td>{{item.value}}</td>
                <td>{{item.count}}</td>
            </tr>
        </table>
        <table cellspacing='0'>
            <tr class="even">
                <th>Ages</th>
                <th></th>
            </tr>
            <tr data-ng-repeat="item in ages">
                <td>{{item.value}}</td>
                <td>{{item.count}}</td>
            </tr>
        </table>
            </div>

    </div>
</body>
</html>